/* Locally hosted Google Fonts - DSGVO compliant */

/* Crimson Pro */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('crimsonpro-300.ttf') format('truetype');
}
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('crimsonpro-400.ttf') format('truetype');
}
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('crimsonpro-600.ttf') format('truetype');
}

/* Dancing Script */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('dancingscript-400.ttf') format('truetype');
}
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('dancingscript-700.ttf') format('truetype');
}

/* Handlee */
@font-face {
    font-family: 'Handlee';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('handlee-400.ttf') format('truetype');
}

/* Kalam */
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('kalam-300.ttf') format('truetype');
}
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('kalam-400.ttf') format('truetype');
}
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('kalam-700.ttf') format('truetype');
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('montserrat-300.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('montserrat-400.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('montserrat-500.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('montserrat-600.ttf') format('truetype');
}

/* Patrick Hand */
@font-face {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('patrickhand-400.ttf') format('truetype');
}
